.container{
    margin: 0 auto;
    max-width: 1400px;
}

.title{
    color: var(--green);
    font-size: 36px;
    font-family: "Yellowtail";
    margin-bottom: 8px;
}

.additional-title{
    color: var(--main);
    font-size: 70px;
    font-weight: 800;
}

.active-button{
    color: var(--main);
    font-size: 20px;
    font-weight: 700;
    padding: 28px 39px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    border: none;
    cursor: pointer;
}

.active-button__span{
    width: 19px;
    height: 19px;
    margin-left: 10px;
    background-image: url("images/common/Arrow.svg");
}


.heading > .additional-title{
    margin-bottom: 0px;
}