.container{
    margin: 0 auto;
    max-width: 1400px;
}

.title{
    color: var(--green);
    font-size: 36px;
    font-family: "Yellowtail";
    margin-bottom: 8px;
}

.additional-title{
    color: var(--main);
    font-size: 70px;
    font-weight: 800;
}

.active-button{
    color: var(--main);
    font-size: 20px;
    font-weight: 700;
    padding: 28px 68px 28px 39px;
    border-radius: 16px;
    border: none;
    background: url("./images/common/Arrow.svg");
    background-position: 170px 30px;
    background-repeat: no-repeat;
    cursor: pointer;
}