.header__container{
    display: flex;
    max-width: 1595px;
    padding: 69px 0;
    background: rgba(255, 255, 255, 90);
}

.navigation-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 130px 0 150px;
}

.navigation-menu__items{
    display: flex;  
    font-weight: 700;
}

.navigation-menu__items .navigation-menu__item:last-child{
    margin-right: 0px;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation-menu__item a{
    text-decoration: none;
    color: var(--main);
}

.navigation-menu__item_arrow{
    display: flex;
    gap: 5px;
}

.navigation-menu__item_arrow img{
    cursor: pointer;
}

.navigation-menu__item{
    list-style: none;
    margin-right: 40px;
}

.search-form{
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 18px;
}

.search-form__input{
    padding: 20px 65px 20px 15px;
    width: 375px;
    border: none;
    border-radius: 36px;
    outline: none;
    font-size: 18px;
    color: var(--main);
    background-color:#FAFAFA ;   
}

.search-form__span{
    width: 56px;
    height: 56px;
    background-image: url("/src/images/header/SearchIcon.svg");
    position: absolute;
    right: 6px;
    cursor: pointer;
}

.cart__button{
    padding: 24px 24px 24px 80px;
    border: 1px solid #E0E0E0;
    border-radius: 36px;
    color: var(--main);
    font-weight: 600;
    background: url("./images/header/CartIcon.svg") white no-repeat left;
    cursor: pointer;
}