@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700;900&family=Yellowtail&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main: #274C5B;
    --green: #7EB693;
    --yellow: #EFD372;
    --gray: #D4D4D4;
    --lightgray: #F9F8F8;
    --white: #F9F8F8;
    --lightgreen: #EFF6F1;
    --grayblue: #525C60;
}

body{ 
    font-family: "Roboto";
    font-size: 20px;
    color: var(--main);
}

p{
    color: var(--grayblue);
}

.food-choice{
    background-image: url("./images/food-choice/Background.png"), url("./images/food-choice/Image.png");
    background-repeat: no-repeat, no-repeat;
    padding: 242px 0;
}

.natural-food > .additional-title{
    margin-bottom: 23px;
}

.natural-food > .active-button{
    background-color: var(--yellow);
}

.fruits-offer__container{
    padding: 154px 0 190px 0;
}

.offers{
    display: flex;
    justify-content: space-between;
}

.offers-block{
    max-width: 680px;
    max-height: 367px;
    width: 100%;
    padding: 110px 0px 110px 55px;
}

.first-block p{
    color: white;
}

.offers-block > .additional-title{
    font-size: 40px;
}

.first-block{
    background-image: url("./images/fruits-offer/image-1.png");
    background-repeat: no-repat;
}

.second-block{
    background-image: url("./images/fruits-offer/image-2.png");
    background-repeat: no-repat;
}

.accredited-fermers{
    background-color: var(--white);
    background-image: url("./images/accredited-fermers/background.png");
    background-size:contain;
    background-position:center;
    background-repeat: no-repeat;
}

.accredited-fermers__container{
    display: flex;
    padding: 190px 0;
    justify-content: right;
}

.about-company > .heading{
    margin-bottom: 46px;
}

.about-company{
    max-width: 700px;
}

.heading .additional-title{
    font-size: 50px;
    margin-bottom: 14px;
}

.points{
    margin-bottom: 46px;
}

.qualities-list__item{
    list-style: none;
    display: flex;
}

.qualities-list__item:first-child{
    margin-bottom: 30px;
}

.qualities-list__item__description > .additional-title{
    font-size: 25px;
}

.qualities-list__item__description{
    margin-left: 20px;
}

.shop-button.active-button{
    background-color: var(--main);
    color: white;
}

.categories .heading{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.categories > .heading{
    margin-bottom: 40px;
}

.products-block__element{
    display: flex;
    flex-direction: column;
    background-color: var(--lightgray);
    max-height: 483px;
    max-width: 335px;
}

.products-block__element > .product-category{
    color: white;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 15px;
    padding: 6px 12px;
    background-color: var(--main);
    border-radius: 8px;
    margin-bottom: 13px;
}
