@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700;900&family=Yellowtail&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: 1px solid red;
}

:root{
    --main: #274C5B;
    --green: #7EB693;
    --yellow: #EFD372;
    --gray: #D4D4D4;
    --lightgray: #F9F8F8;
    --white: #F9F8F8;
    --lightgreen: #EFF6F1;
    --grayblue: #525C60;
}

body{ 
    font-family: "Roboto";
    font-size: 20px;
    color: var(--main);
    
}

p{
    color: var(--grayblue);
}

.food-choice{
    background-image: url("./images/food-choice/Background.png"), url("./images/food-choice/Image.png");
    background-size:contain, contain;
    background-position:center, center;
    background-repeat: no-repeat, no-repeat;
    width: 100%;
    padding: 242px 0;
}

.natural-food > .additional-title{
    margin-bottom: 23px;
}

.natural-food > .active-button{
    background-color: var(--yellow);
}

.fruits-offer__container{
    padding: 154px 0 190px 0;
}

.offers{
    display: flex;
    justify-content: space-between;
}

.offers-block{
    max-width: 680px;
    max-height: 367px;
    width: 100%;
    padding: 110px 0px 110px 55px;
}

.first-block p{
    color: white;
}

.offers-block > .additional-title{
    font-size: 40px;
}

.first-block{
    background-image: url("./images/fruits-offer/image-1.png");
    background-repeat: no-repat;
}

.second-block{
    background-image: url("./images/fruits-offer/image-2.png");
    background-repeat: no-repat;
}

.accredited-fermers{
    background-color: var(--white);
    background-image: url("./images/accredited-fermers/background.png");
    background-size:contain;
    background-position:center;
    background-repeat: no-repeat;
}

.accredited-fermers__container{
    display: flex;
    padding: 190px 0;
    justify-content: right;
}

.about-company > .heading{
    margin-bottom: 46px;
}

.about-company{
    max-width: 700px;
}

.heading .additional-title{
    font-size: 50px;
    margin-bottom: 14px;
}

.points{
    margin-bottom: 46px;
}

.qualities-list__item{
    list-style: none;
    display: flex;
}

.qualities-list__item:first-child{
    margin-bottom: 30px;
}

.qualities-list__item__description > .additional-title{
    font-size: 25px;
}

.qualities-list__item__description{
    margin-left: 20px;
}

.shop-button.active-button{
    background-color: var(--main);
    color: white;
}

.categories .heading{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.categories > .heading{
    margin-bottom: 40px;
}

.our-products__container{
    padding: 170px 0 200px 0;
}

.products-block{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    margin-bottom: 122px;
}

.products-block__element{
    display: flex;
    flex-direction: column;
    background-color: var(--lightgray);
    border-radius: 20px;
    max-height: 483px;
    max-width: 335px;
}

.products-block__element > .product-category{
    width: fit-content;
    color: white;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 15px;
    padding: 6px 12px;
    background-color: var(--main);
    border-radius: 8px;
    margin: 30px 0 13px 30px;
    border: none;
}

.products-block__element > .product-name{
    color: var(--main);
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 13px 30px;
}

.product-total{
    display: flex;
    justify-content: space-between;
    padding-top: 6px;
    margin: 0 30px 17px 30px;
}

.product-total > .prices{
    display: flex;
    gap: 8px;
    font-family: "Open Sans";
    align-items: center;
}

.products-block__element > .product-image{
    max-width: 335px;
    max-height: 320px;
}

.prices > .new-price{
    color: var(--main);
    font-weight: 700;
    font-size: 18px;
}

.prices > .old-price{
    color: #B8B8B8;
    font-weight: 600;
    font-size: 15px;
    text-decoration: line-through;
}

.products-block__element > .product-total{
    border-top: 1px solid #DEDDDD;
}

.loading-button{
    display: flex;
    justify-content: center;
}

.loading-button .active-button{
    background-color: var(--main);
    color: white;
}

.testimonials{
    background-image: url("./images/testimonials/background.png");
    background-position:center;
    background-repeat: no-repeat;
}

.testimonials .heading{
    margin-bottom: 60px;
}

.testimonials .additional-title{
    margin-bottom: 0;
}

.testimonials .container__testimonials{
    max-width: 1108px; 
    padding: 164px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.review-overall{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

.review-overall .customer-image{
    width: 115px;
    height: 115px;
    margin-bottom: 20px;
}

.review-overall .customer-score{
    width: 122px;
    height: 26px;
}


.review-block{
    max-width: 780px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 102px;
}

.review-text{
    margin-bottom: 20px;
}

.reviewer-name{
    font-size: 25px;
    color: var(--main);
    font-weight: 600;
}

.reviewer-status{
    margin-bottom: 20px;
}

.statistics{
    display: flex;
    border-top: 1px solid #E0E0E0;
    padding: 102px 39px 0 39px;
}

.statistics__item:last-of-type{
    margin-right: 0px;
}

.statistics__item{
    margin-right: 62px;
}

.offer{
    padding: 200px 0;
    background-color: var(--main);
}


.offer__container .additional-title{
    color: white;
    font-size: 50px;
}

.head-block{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 50px;
}

.head-block .active-button{
    background-color: var(--yellow);
    padding: 28px 39px;
    max-height: 80px;
}

.offer__container .products-block{
    margin-bottom: 0;
}

.who-we-are{
    background-image: url("./images/who-we-are/background.png");
    background-repeat: no-repeat;
}

.who-we-are__container{
    display: flex;
    justify-content: flex-end;
}

.about-us-block{
    display: flex;
    flex-direction: column;
    padding: 78px 89px;
    margin: 104px 0;
    background-color: white;
    max-width: 789px;
    max-height: 723px;
    border-radius: 16px;
}

.about-us-block > .heading{
    margin-bottom: 35px;
}

.about-us-block__points__item{
    list-style: none;
    margin-bottom: 35px;
}

.about-us-block__points__item__title{
    color: var(--main);
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 7px;
}

.about-us-block__points__item__text{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
}

.products-gallery{
    background-color: #F1F8F4;
    margin-bottom: 185px;
}

.products-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 42px;
    padding: 187px 0;
}

.products-grid__element{
    position: relative;
}

.products-grid__element img{
    position: relative;
    max-width: 600px;
}

.products-grid__element_button{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    font-weight: 500;
    padding: 33px 83px;
    font-family: "Roboto";
    color: var(--main);
    white-space: nowrap;
    background-color: white;
    border: none;
    border-radius: 20px;
}

.discover__container{
    padding: 180px 0;
}

.blogs-block{
    display: flex;
    justify-content: space-between;
}

.blogs-block__element{
    position: relative;
    max-width: 677px;
    height: 592px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-size: contain;
    
}

.blogs-block__element:first-of-type{
   background-image: url("images/discover/image-1.png");
   background-repeat: no-repeat;
}

.blogs-block__element:last-of-type{
    background-image: url("images/discover/image-2.png");
    background-repeat: no-repeat;
}

.blogs-block__element__blog{
    max-width: 613px;
    max-height: 330px;
    background-color: white;
    padding: 46px 57px 60px 57px;
    border-radius: 31px 34px 30px 30px;
    box-shadow: 0px 20px 35px 0px #A7A7A740;
}

.blogs-block__element__blog > .author{
    font-size: 18px;
    color: var(--main);
    margin-bottom: 15px;
}

.blogs-block__element__blog > .additional-title{
    font-size: 25px;
    font-weight: 800;
}

.blogs-block__element__blog__text{
    margin-bottom: 15px;
}

.blogs-block__element__blog .active-button{
    background-color: var(--yellow);
    padding: 28px 39px;
    max-height: 80px;
}

.date-span{
    position: absolute;
    left: 32px;
    top: 43px;
    background-color: white;
    height: 82px;
    width: 82px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
}

.subscribe-newsletter{
    margin-bottom: 117px;
}

.subscribe-newsletter__container{
    display: flex;
    align-items: center;
    background-image: url("images/subscribe-newsletter/background.png");
    background-repeat: no-repeat;
}

.subscribe-newsletter__block{
    display: flex;
    padding: 105px 71px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.subscribe-newsletter__block > .additional-title{
    font-size: 50px;
    color: white;
}

.subscribe-newsletter__block__form{
    display: flex;
}

.form-input{
    padding: 0 174px 0 23px;
    max-width: 350px;
    margin-right: 6px;
    border: none;
    border-radius: 16px;
}

.form-button{
    padding: 28px 47px;
    border: none;
    border-radius: 16px;
    background-color: var(--main);
    color: white;
    font-weight: 700;
    font-size: 20px;
}